:root {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-text-bg-color);
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: var(--tg-viewport-height);

  padding-top: calc(var(--tg-safe-area-inset-top) + 2em);
  padding-bottom: calc(var(--tg-safe-area-inset-bottom));
  padding-left: var(--tg-safe-area-inset-left);
  padding-right: var(--tg-safe-area-inset-right);

  box-sizing: border-box; /* so that padding counts as height */
}

.chart {
  flex-grow: 1;
}

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-zoom-icon,
.apexcharts-pan-icon {
  width: 48px !important;
  height: 48px !important;
}

.apexcharts-zoomin-icon > svg,
.apexcharts-zoomout-icon > svg,
.apexcharts-zoom-icon > svg,
.apexcharts-pan-icon > svg {
  width: 40px;
  height: 40px;
}